body {
  background-image: url("../images/background.jpg");
  background-color: red;
}
img {
  float: left;
  max-width: 350px;
  max-height: 350px;
  margin-left: 100px;
  margin-right: 20px;
}

.column {
  width: 350px;
  float: left;
  margin-left: 100px
  }
.divider {
  border-top: 8px solid red;
  margin: 100px;
  }
.link{
  margin-top: 600px
}
.link2{
  margin-top: 50px
}
